$font-corlor: #333; // 全局默认的字体颜色
$font-size: 14px;
$input-color: #606266;
$input-placeholder: #C0C4CC;
$main-color: #259CFC; // 主蓝色色调
$head-background: #183360; // 头部背景色
$head-height: 50px; // 头部高度
$main-background: #f2f3f4; // 主体背景色
$crumbs-height: 35px;
$nav-width: 240px;
$layout-shadow: rgba(#ddd, 0.8);
$layout-border: #ddd;
// 自定义表单组件验证失败边框颜色设置
$form-error-color: #F56C6C;
// placeholder颜色设置
$placeholder-color: #bdbdbd;