:root{
  --page-min-width: 700px;
  --dyt-font-corlor: #333; // 默认的字体颜色
  --dyt-font-size: 14px; // 默认的字号
  --dyt-placeholder-color: var(--el-input-placeholder-color, #bdbdbd); // 占位符字体颜色
  --dyt-main-background-color: #f2f3f4; // 主体背景色
  --layout-head-background: #183360; // 头部背景色
  --layout-aside-background: #fff; // 左侧菜单背景色
  --layout-aside-width: 240px; // 左侧菜单宽度
  --layout-head-height: 50px; // 头部高度
  --layout-crumbs-height: 35px; // 面包屑高度
  --layout-shadow-color: rgba(#ddd, 0.8); // 描边颜色
  --layout-main-background-color: #fff; // 布局页面背景色
  --dyt-form-item-height: 32px; // 表单默认组件高度
}
